body{
    font-size: 20px;
    font-family: monospace;
   
}

#container{
    margin: 150px auto;
          display:flex;
    align-items:center;
    justify-content:center;
    background-color: #756d66;
    height: 75vh;
    width : 75vw;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px;
 
}
#quiz {
    position:absolute;
  
   width:75vw;

}
#start{
    font-size: 3.5em;
    
    font-weight: bolder;
    word-break: break-all;
    width:500px;
    height:500px;
    border : 5px solid lightgrey;
    text-align: center;
    cursor: pointer;
    display:
    flex;
    align-items: center;
    justify-content: space-evenly;
    color : lightgrey;
}
#start:hover{
    border: 3px solid green;
    color : lightseagreen;
}

#qImg{
        display:flex;
    justify-content:center;
        border-top-left-radius: 5px;

}
#qImg img{
     
  width:300px;
    height : 300px;
    border-top-left-radius: 5px;
}

#question{
    height : 125px;
   
}
#question p{
    
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    
    right : 0;
    top : 125px;
    padding : 15px
}
.choice{
  
    
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{

    height : 100px;

    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
  
    
}
#btimeGauge{
    
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
   
}
#timeGauge{
    
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
   
}
#progress{
    width : 500px;
   display:flex;
    align-items:flex-end;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    
    background-color: darkgreen;
    opacity: 0.7;
    height: 400px;
    width : 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: relative;
    top:125px;
    left: 640px;
}
#scoreContainer p{
  position: relative;
  bottom: 150px;
   
  
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
  }
  
  .high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
  }
  
  .high-score:hover {
    transform: scale(1.025);
  }
  #saveMenu {
    background-color: red;
    position: absolute;
      top: 64%;
    
    
  }